#svg_main{
    border: 1px solid black;
    height: 500px;
    width: 800px;
    margin: 0.5em;
}

#svg_sec{
    
    border: 1px solid black;
    height: 500px;
    width: 600px;
    margin: 1em;
}

#head{
    text-align: center;
    font-size: 1.2em;
    text-decoration: underline;
}

#category{
    margin-left: 1em;
}